.Message {
	margin:10px 40px 0px 40px;
	padding: 0px 10px 10px 10px;
	background-color: #ffffff;
	border-radius: 10px;
	max-width: 500px;
}

.Message__Text {
	font-size: 15px;
	max-width: 500px;
	word-wrap: break-word;
}